<div class="container">
	<div class="row">
		<div id="navi">
			<h2 id="navh2"> Navigation Bar </h2>
			<ul>
				<li><a class = "link text-secondary" href="/title">Back to home page</a></li>
				<li><a class = "link text-secondary" href="/user"> Back to User's Page </a></li>
				<li><a class = "link text-secondary" href="/user/sent"> View Sent Messages </a></li> 
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div style="padding-top:10px;" class = "row">
		<div class = "w-60 titleR mx-auto">
			<h2 class="backg titleT">{{un}}</h2>
		</div>
	</div>
</div>

<div class="container backg usr">

	<div class="row" style="padding-top: 2%;">
		<div class="w-60 titleR mx-auto">
			<h2 class="titleT" style="font-weight: none;"> Messages </h2> <br>
		</div>
	</div>

	<div class="row" style="padding-top: 2%;">
		<div class="w-60 mx-auto">
			<a href="/user/inbox/newmsg"><button type="submit" value="newMsg">New Message</button></a>
			<a href='/user/inbox/'><button value="gbSend">Remove Current Grouping</button></a>
			<a href='/user/inbox/sortBy/from'><button value="gbSend">Group By Sender</button></a>
			<a href='/user/inbox/sortBy/subj'><button value="gbSubj">Group By Subject</button></a> <br>
		</div>
	</div>
	
	{{#each tbox.items as |group|}}
	<div class = "row" style="padding-top: 2%; padding-left: 15%;">
		<div class="col-12"> <h3 style="text-decoration: underline"> {{group.name}} </h3> </div>
		<table style="overflow-x: auto;" class="col-12">
			<tr>
				<th class="text-info"> Subject </th>
				<th class="text-info"> From </th>
				<th class="text-info"> Read </th>
			</tr>

			
			{{#each group.items as |msg i|}}
				<tr id="{{i}}">
					<td> <a href="/user/inbox/viewMsg/{{msg._id}}"> {{msg.subject}}</a> </td>
					<td> {{msg.from}}</a></td>
					<td> {{msg.read}} </td>
					<td class="rmv">
						<div class="dropdown">
							<button class="dropbtn">Choose an Action</button>
							<div class="dropdown-content">
								<a class = "link text-info" href="/user/inbox/reply/{{msg._id}}">Reply</a>
								<a class = "link text-info" href="/user/inbox/markR/{{msg._id}}">Mark as Read</a>
								<a onclick="rmvFunction(this, `{{msg.subject}}`)" class = "link text-danger" id="/user/inbox/rmvMsg/{{msg._id}}">Delete Message</a>
							</div>
						</div>
					</td>
				</tr>
			{{/each}}
		</table>
	</div>
	{{/each}}

</div>