<div class="container">
	<div class="row">
		<div id="navi">
			<h2 id="navh2"> Navigation Bar </h2>
			<ul>
				<li><a class = "link text-secondary" href="/title">Back to home page</a></li>
				<li><a class = "link text-secondary" href="/user"> Back to User's Page </a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container backg">

	<div class="row">
		<div class="col-2"></div>

		<div class="col-8" style="text-align: center;">
			<h2 class="undT"> Merging </h2>
			<p>On the right, click the checkboxes next to the lists you want to merge with "List A". Merge them by pressing the "Merge List A with Selected List(s)" button on the bottom of the page. Note: the operation will not work if one of the selected lists does not have at least one item in it.</p>
		</div>

		<div class="col-2"></div>
	</div>

	<div class="row" style="margin-bottom: 15px;">
		<div class="col-2"></div>

		<div class="col-3" style="display:inline; background-color: rgba(224, 224, 235, 0.7);">
			<h3 class="undT"> List A:</h3> <h3>{{chList.name}} </h3>
		</div>

		<div class="col-2"></div>

		<div class="col-3" style="display:inline; background-color: rgba(224, 224, 235, 0.7);">
			<h3 class="undT"> Other Lists </h3>
			<form method="POST" action="" id="form1">
			<ul style="display: table;">
				{{#each bigList as |list i|}}
					<li><input type="checkbox" id="list{{i}}" name="list{{i}}" value="{{list.name}}">  <label for="list{{i}}">{{list.name}}</label></li>
				{{/each}}
			</ul>
		</div>
	</div>

	<div class="row" style="border-top: 4px dotted black; padding-top: 15px; padding-bottom: 5px;">
		<div class="col-12" style="text-align: center;">
			<h5 class="text-danger" style="font-weight: bold;"> {{errMsg}} </h5>
			<h3 class="undT">Name for New List </h3>
			<input type="text" name="mName">
			</form>
		</div>
	</div>

	<div class="row" style="padding-bottom: 20px;">
		<div class="w-60 mx-auto">
			<button class="tBtn" onclick="mergeConf('form1', `{{chList.name}}`)" name="mergeLists">Merge List A with Selected List(s)</button>
		</div>
	</div>
</div>