<div class="container">
	<div class="row">
		<div id="navi">
			<h2 id="navh2"> Navigation Bar </h2>
			<ul>
				<li><a class = "link text-secondary" href="/title">Back to home page</a></li>
				<li><a class = "link text-secondary" href="/user"> Back to User's Page </a></li>
				<li><a class = "link text-secondary" href="/user/inbox"> View Inbox </a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container backg usr">
	<div style="padding-top:30px" class = "row">
		<div class = "col-4">
			<h3>{{tUser.username}}'s Sent Messages</h3>
		</div>
	</div>

	<div class="row" style="border-top: 2px solid black; padding-top: 2%;">
		<div class="col-12">
			<h2> Messages </h2> <br>
			<a href="/user/sent/sortBy/to"><button type="submit" value="gbSend">Group By Receiver</button></a>
			<a href="/user/sent/sortBy/subj"><button type="submit" value="gbSubj">Group By Subject</button></a> <br>
			<h4 style="color:blue;"> {{mConf}} </h4>
		</div>
	</div>
	
	<div class = "row" style="overflow-x: auto; padding-top: 2%;">
		<table class="col-12">
			<tr>
				<th class="text-info"> Subject </th>
				<th class="text-info"> To </th>
			</tr>

			
			{{#each tUser.mail.sent as |msg i|}}
				<tr id="{{i}}">
					<td> <a href="/user/sent/viewMsg/{{msg._id}}"> {{msg.subject}}</a> </td>
					<td> {{msg.to}}</a></td>
					<td class="rmv"><a onclick="rmvFunction(this, `{{msg.subject}}`)" class = "link text-danger" id="/user/sent/rmvMsg/{{msg._id}}">Delete Message</a></td>
				</tr>
			{{/each}}

		</table>
	</div>

</div>