
<div class="container backg" id="navi">
	<h2 id="navh2"> Navigation Bar </h2>
	<ul>
		<li><a class = "link text-secondary" href="/title">Back to home page</a></li>
		<li><a class = "link text-secondary" href="/user"> Back to User's Page </a></li>
	</ul>
</div>

<div class="container backg usr">
	<div style="padding-top:30px" class = "row">
		<div class = "col-4">
			<h3>{{list.name}}</h3>
		</div>
	</div>

	<form method="GET" action="/user/{{list._id}}" id="form2">
		<div class = "row">
			<div class = "col-12">
			Filter Items by: Name: <input type="text" name="nameQuery"><br>
				 URL: <input type="text" name="urlQuery"><br>
				 Game: <input type="text" name="gameQuery"><br>
				
				
			</div>
		</div>

		<div class = "row">
			<div class = "col-12">
				Players (comma separated): <input type="text" name="playsQuery"><br>
				 Characters (comma separated): <input type="text" name="charsQuery"><br>
				
				<button type="submit" form="form2" value="Filter">Filter Items</button>
			</div>
		</div>

	</form>
	
	<div class = "row" style="overflow-x: auto; padding-top: 2%;">
		<table class="col-12">
			<tr>
				<th class="text-info"> Entry Name </th>
				<th class="text-info"> Entry URL </th>
				<th class="text-info"> Game </th>
				<th class="text-info"> Players </th>
				<th class="text-info"> Characters </th>
			</tr>

			
			{{#each list.items as |vod|}}
				<tr>
					<td> {{vod.name}} </td>
					<td> <a href={{vod.url}}>{{vod.url}}</a></td>
					<td> {{vod.game}} </td>
					<td>
						{{#each vod.players as |play|}}{{play}}, {{/each}}
					</td>
					<td>
						{{#each vod.chars as |char|}}{{char}}, {{/each}}
					</td>

					<td class="rmv"> <a class = "link text-info" href="/user/{{../list._id}}/edit/{{vod._id}}">Edit</a> </td>
					<td class="rmv"> <a class = "link text-danger" href="/user/{{../list._id}}/remove/{{vod._id}}">Remove</a> </td>

				</tr>
			{{/each}}

		</table>
	</div>
</div>

<div class="container backg usr" style="margin-top:2%;">
	<h2 style="padding-top:30px"> Add Entry</h2>

	<form method="POST" action="" id="form1">
	
	<div class = "row">
			<div class = "col-4">
				Name:  
			</div>

			<div class = "col-8">
				<input type="text" name="entryName">
			</div>
	</div>

	<div class = "row">
			<div class = "col-4">
				URL:  
			</div>

			<div class = "col-8">
				<input type="text" name="entryURL">
			</div>
	</div>

	<div class = "row">
			<div class = "col-4">
				Game:  
			</div>

			<div class = "col-8">
				<input type="text" name="entryGame">
			</div>
	</div>

	<div class = "row">
			<div class = "col-4">
				Players (comma separated):  
			</div>

			<div class = "col-8">
				<input type="text" name="entryPlays">
			</div>
	</div>

	<div class = "row">
			<div class = "col-4">
				Characters (comma separated):  
			</div>

			<div class = "col-8">
				<input type="text" name="entryChars">
			</div>
	</div>

	</form>
	<div class = "row">
		<div class = "col-4">
			<button type="submit" form="form1"  name="createNewEntry">Add Entry</button>
		</div>
	</div>
	
</div>
