<div class="container">
	<div class="row">
		<div id="navi">
			<h2 id="navh2"> Navigation Bar </h2>
			<ul>
				<li><a class = "link text-secondary" href="/title">Back to home page</a></li>
				<li><a class = "link text-secondary" href="/user"> Back to User's Page </a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div style="padding-top:30px;" class = "row">
		<div class = "w-60 titleR mx-auto">
			<h2 class="backg usr titleT">List Name: {{list.name}}</h2>
		</div>
	</div>
</div>


<div class="container backg usr" style="overflow-x: auto;">

	<form method="GET" action="/user/lists/{{list._id}}" id="form2" style="display:inline-flex;">
		<div class="row">
			<div class="col-12">
				<h5 style="text-decoration: underline; padding-right: 10px;"> Filter Items by</h5>
			</div>
		</div>
		<div class = "row">
			<div class = "col-12">
			Name: <input type="text" name="nameQuery"><br>
				 URL: <input type="text" name="urlQuery"><br>
				 Game: <input type="text" name="gameQuery"><br>
				
				
			</div>
		</div>

		<div class = "row" style="padding-left: 15px;">
			<div class = "col-12">
				Players (comma separated): <input type="text" name="playsQuery"><br>
				 Characters (comma separated): <input type="text" name="charsQuery"><br>
				
				<button type="submit" form="form2" value="Filter">Filter Items</button>
			</div>
		</div>

	</form>
</div>



<div class="container backg usr" style="margin-top: 15px;">

	<div class="row" style="padding-top: 2%;">
		<div class="w-60 titleR mx-auto">
			<h2 class="titleT" style="font-weight: none;"> List Items </h2> <br>
		</div>
	</div>

	<div class="row" style="padding-top: 2%;">
		<div class="w-60 mx-auto">
			<a href="/user/lists/{{list._id}}/chars"><button type="submit" value="gbChar">Group By Character</button></a>
			<a href="/user/lists/{{list._id}}/games"><button type="submit" value="gbGame">Group By Game</button></a>
		</div>
	</div>
	
	<div class = "row" style="overflow-x: auto; padding-top: 2%;">
		<table class="col-12">
			<tr>
				<th class="text-info"> Entry Name </th>
				<th class="text-info"> Entry URL </th>
				<th class="text-info"> Game </th>
				<th class="text-info"> Players </th>
				<th class="text-info"> Characters </th>
			</tr>

			
			{{#each list.items as |vod i|}}
				<tr id="{{i}}">
					<td> {{vod.name}} </td>
					<td> <a href={{vod.url}}>{{vod.url}}</a></td>
					<td> {{vod.game}} </td>
					<td>
						{{#each vod.players as |play|}}{{play}}, {{/each}}
					</td>
					<td>
						{{#each vod.chars as |char|}}{{char}}, {{/each}}
					</td>

					<td class="rmv">
						<div class="dropdown">
							<button class="dropbtn">Choose an Action</button>
							<div class="dropdown-content">
								<a class = "link text-info" href="/user/lists/{{../list._id}}/edit/{{vod._id}}">Edit</a>
								<a class="link text-info" onclick="share('{{../list.name}}@#{{i}}')">Share</a>
								<a onclick="rmvFunction(this, `{{vod.name}}`)" class = "link text-danger" id="/user/lists/{{../list._id}}/remove/{{vod._id}}">Remove</a>
							</div>
						</div>
					</td>
				</tr>
			{{/each}}

		</table>
	</div>

	<div class = "row" style="padding-top: 3%">
		<div class="col-5"></div>
		<div class="col-2">
			<button onclick="exportList(this, '{{list.name}}')">Export List as CSV File</button>
		</div>
		<div class="col-5"></div>
	</div> 

</div>

<div class="container usr" style="margin-top:2%; display: inline-flex;">

	<form method="POST" class="backg" action="" id="form1" style="margin-left: 43%; padding: 5px;">

		<div class="row">
			<div class="col-6">
				<h2 style="text-decoration: underline;"> Add Entry</h2>
			</div>
		</div>
		
		<div class = "row addF">
			<div class = "col-12" style="display:inline;">
				Name:  <input type="text" name="entryName"><br>
			</div>
		</div>

		<div class = "row addF">
			<div class = "col-12">
					URL:  <input type="text" name="entryURL">
			</div>			
		</div>

		<div class = "row addF">
				<div class = "col-12">
					Game:  <input type="text" name="entryGame">
				</div>
		</div>

		<div class = "row addF">
				<div class = "col-12">
					Players (comma separated):  <input type="text" name="entryPlays">
				</div>
		</div>

		<div class = "row addF">
				<div class = "col-12">
					Characters (comma separated):  <input type="text" name="entryChars">
				</div>
		</div>

		<div class = "row addF">
			<div class = "col-12">
				<button type="submit" form="form1"  name="createNewEntry">Add Entry</button>
			</div>
		</div>

	</form>
	
	
</div>