<div class="container">
	<div class="row">
		<div id="navi">
			<h2 id="navh2"> Navigation Bar </h2>
			<ul>
				<li><a class = "link text-secondary" href="/title">Back to home page</a></li>
				<li><a class = "link text-secondary" href="/user"> Back to User's Page </a></li>
			</ul>
		</div>
	</div>
</div>



<div class="container backg">

	<div class="row">
		<div class="w-60 mx-auto" style="text-align: center; padding: 10px;">
			<h2 class="undT"> Spliting </h2>
			<p style="font-size: 18px;">Manual Split
				<ol>
					<li> With the "Split List At" dropdown menu below, select an item at which to split the selected list. The list's contents are displayed below for your convenience.</li>
					<li> Hit the "Split List" button. There will now be two lists in your list of lists: the first containing all the items before your selected cut-off point, and a second containing the rest. Note: splitting at the first item of a list is functionally identical to splitting at the second. </li>
				</ol>
			</p>
			<p style="font-size: 18px;">Automatic Split
				<ol>
					<li>Click either the "Split List By Characters" or "Split List by Game" buttons below.</li>
					<li>Multiple lists will be created based on the number of unique games/characters present in a list. They will all be titled like so: "[Original List Name] - [Game/Character]". Some items may be duplciated across lists if they meet the criteria to be in multiple of the child lists.</li>
				</ol>
			</p>
		</div>
	</div>

	<div class="row" style="padding-top: 2%; border-top: 4px dashed black;">
		<div class="w-60 mx-auto">
			<h2 class="undT"> List: {{chList.name}} </h2>
		</div>
	</div>

	<div class = "row" style="overflow-x: auto; padding-top: 2%; padding-bottom: 20px; border-bottom: 4px dashed black;">
		<div class="w-60 mx-auto">
			<ol>
			{{#each chList.items as |vod|}}
				<li style="padding-top: 15px;">
					<td> {{vod.name}} || </td>
					<td> <a href={{vod.url}}>{{vod.url}}</a> || </td>
					<td> {{vod.game}} || </td>
					<td>
						{{#each vod.players as |play|}}{{play}}, {{/each}} || 
					</td>
					<td>
						{{#each vod.chars as |char|}}{{char}}, {{/each}} 
					</td>
				</li>
			{{/each}}
			</ol>
		</div>
	</div>

	<div class="row" style="padding-top: 15px;">
		<div class="w-60 mx-auto" style="text-align: center;">
			<h3 class="undT"> Split List At: </h3>
		</form>
		<div class="w-60 mx-auto" style="text-align: center;"><form method="POST" action="" id="form1">
			<select id="sInd">
			{{#each chList.items as |vod i|}} 
				<option value="{{i}}"> {{vod.name}}</option>
			{{/each}}<br></select>
		</form></div>
			
		<div class="w-60 mx-auto" style="text-align: center;">
			<br><h4 class="undT"> Name for First List:</h4> <input type="text" id="sN1" class="split" style="margin-bottom: 10px;"><br>
			<h4 class="undT"> Name for Second List: </h4> <input type="text" id="sN2" class="split" style="margin-bottom: 20px;">
			</form><br>
			<button class="tBtn" onclick="splitF(this, '{{chList._id}}', '{{chList.items.length}}')" name="splitList">Split List</button><br><br>
			<button class="tBtn" onclick="splitF(this, '{{chList._id}}')" name="splitByChar" style="margin-bottom: 5px;">Split List by Characters</button><br>
			<button class="tBtn" onclick="splitF(this, '{{chList._id}}')" name="splitByGame" style="margin-bottom: 25px;">Split List by Game</button>
		</div>
	</div>
</div>