
	
<div class="container backg" id="navi">
	<h2 id="navh2"> Navigation Bar </h2>
	<ul>
		<li><a class = "link text-secondary" href="/title">Back to home page</a></li>
		<li><a class = "link text-secondary" href="/user/inbox">Inbox ({{theUser.mail.unread}})</a></li>
	</ul>
</div>


<div class="container backg">

	<div style="padding-top:10px" class = "row">
		<div class = "col-4">
			<h3> User Info</h3>
		</div>

	</div>

	<div class = "row">
		<div class = "col-6">
			<h4 class="info text-info">Username:</h4> <p style="font-size:24px">{{theUser.username}}</p>
		</div>
	</div>

	<div class = "row">
		<div class = "col-4">
			<h4 class="info text-info">Lists:</h4>
		</div>
	</div>

		
		<form style="padding-bottom: 15px" method="GET" action="/user" id="form2">
					Filter by name: <input type="text" name="listQuery">
					<button type="submit" form="form2" value="Filter">Filter</button>
		

		</form>


	<ul>
	{{#each theUser.lists as |list|}}
	<div class = "row" style="overflow-x: auto;">
		<div class = "col-3">
			<li><h3 class = "info"><a class="link text-secondary" href="/user/lists/{{list._id}}">{{list.name}}</a></h3></li>
		</div>

		<div class = "col-2">
			<h3 class = "info"><a class="link text-info" href="/user/edit/{{list._id}}">Edit Name</a></h3>
		</div>

		<div class = "col-2">
			<h3 class = "info"><a class="link text-info" onclick="mergeCheck(this, '{{list.items.length}}')" id="/user/merge/{{list._id}}">Merge</a></h3>
		</div>

		<div class = "col-2">
			<h3 class = "info"><a class="link text-info" onclick="splitCheck(this, '{{list.items.length}}')" id="/user/split/{{list._id}}">Split</a></h3>
		</div>

		<div class = "col-2">
			<h3 class = "info"><a class="link text-info" href="#">Share</a></h3>
		</div>
			
	</div>
	<div class = "row" style="margin-bottom: 20px;">
		<div class="col-3">
		</div>

		<div class="col-2">
			<h3 class = "info"><a class="link text-danger" onclick="testFunction(this, '{{list.name}}')" id="/user/remove/{{list._id}}">Remove</a></h3>
		</div>
	</div>
	{{/each}}
	</ul>

	<h2> Create New List</h2>
	<form method="POST" action="" id="form1">
	
		<div class = "row">
				<div class = "col-4">
					Name:  
				</div>

				<div class = "col-8">
					<input type="text" name="listname">
				</div>
		</div>
	</form>

	<div class = "row" style="padding-bottom: 5px;">
		<div class = "col-1"></div>

		<div class = "col-6">
			<button type="submit" form="form1"  name="createNewList">Create New List</button>
		</div>
	</div>

</div>