
	
<div class="container">
	<div class="row">
		<div id="navi">
			<h2 id="navh2"> Navigation Bar </h2>
			<ul>
				<li><a class = "link text-secondary" href="/title">Back to home page</a></li>
				<li><a class = "link text-secondary" href="/user/inbox">Inbox ({{theUser.mail.unread}})</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div style="padding-top:10px;" class = "row">
		<div class = "col-12" style="padding-left: 0px; padding-right: 15px; margin-bottom: 15px;">
			<h2 class="backg" style="text-decoration: underline; display:inline; padding: 7px; font-weight: bold;">{{theUser.username}}'s Page</h2>
		</div>
	</div>
</div>


<div class="container" style="padding-left: 0px;">

	<div class="backg" style="display: inline-block; padding-left: 5px;">
		<div class = "row">
			<div class = "col-4">
				<h2 style="text-decoration: underline;">Lists:</h2><br>
			</div>
		</div>

			
		<form style="padding-bottom: 15px padding-left: 5px; padding-right: 10px;" method="GET" action="/user" id="form2">
			<h4 style="display: flex;">Filter by name:</h4><input type="text" name="listQuery">
			<button type="submit" form="form2" value="Filter">Filter</button>
		</form>


		<ul style="padding-left: 5px;">
		{{#each theUser.lists as |list|}}
		<div class = "row">
			<div class = "col-3">
				<li><h3 class = "info"><a class="link text-secondary" href="/user/lists/{{list._id}}">{{list.name}}</a></h3></li>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="dropdown">
					<button class="dropbtn">Choose an Action</button>
					<div class="dropdown-content">
						<a class="link text-info" href="/user/edit/{{list._id}}">Edit Name</a>
						<a class="link text-info" onclick="mergeCheck(this, '{{list.items.length}}')" id="/user/merge/{{list._id}}">Merge</a>
						<a class="link text-info" onclick="splitCheck(this, '{{list.items.length}}')" id="/user/split/{{list._id}}">Split</a>
						<a class="link text-info" onclick="share('{{list.name}}')">Share</a>
						<a class="link text-danger" onclick="rmvFunction(this, '{{list.name}}')" id="/user/remove/{{list._id}}">Remove</a>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
		</ul>
	</div>
</div>

<div class="container usr" style="margin-top:2%; padding-left: 0px;">
	<div class="backg" style="padding-left: 5px; display: inline-block;">
		<h2 style="text-decoration: underline;"> Create New List</h2>
		<form method="POST" action="" id="form1">
		
			<div class = "row" style="padding-right: 25px;">
					<div style="font-weight:bold;" class = "col-4">
						Name:  
					</div>

					<div class = "col-8" >
						<input type="text" name="listname">
					</div>
			</div>
		</form>

		<div class = "row" style="padding-top: 10px; padding-bottom: 5px;">
			<div class = "col-2">
				<button style="margin-left: 105px;" type="submit" form="form1"  name="createNewList">Create New List</button>
			</div>
		</div>
	</div>
</div>